<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Build It | Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1 class="bubbly-title">Starting Reimagined</h1>

    <h2 class="bubbly-subtitle">Getting started is always the hardest part, but starting has never been easier.</h2>

    <div class="button-container">
      <a href="/lets-see" class="button">Let's See</a>
    </div>

    <script src="" async defer></script>
  </body>
</html>
